.ork:active {
	filter: blur(3px);
	cursor: url(kurs3.jpg), auto;
}

.elf:active {
	filter: blur(3px);
	cursor: url(kurs3.jpg), auto;
}

.panda:active {
	filter: blur(3px);
	cursor: url(kurs3.jpg), auto;
}

.man:active {
	filter: blur(3px);
	cursor: url(kurs3.jpg), auto;
}

html:active {
	cursor: url(kurs3.jpg), auto;
}

.inp:active {
	cursor: url(kurs3.jpg), auto;
}

input:active {
	cursor: url(kurs3.jpg), auto;
}

a:active {
	cursor: url(kurs3.jpg), auto;
}

label:active {
	cursor: url(kurs3.jpg), auto;
}