html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #F8F8F8 url(overlay.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 110%;
	font-weight: 400;
	color: rgba(0,0,0,0.8);
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #2D2D2D;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

hr {
	display: none;
}

#fon {
	background: #FFF;
	margin: 0px 20px;
}

.content {
	width: 80%;
	margin: 0px auto;
}

.content_2 {
	width: 90%;
	margin: 0px auto;
}

#main
{
	background: url(fon.png) no-repeat center center;
	background-size: cover;
}

#header {
	position: relative;
	overflow: hidden;
	height: 1000px;
}

#menu {
	overflow: hidden;
	background: #101010;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 80%;
	font-weight: 200;
	color: rgba(255,255,255,0.5);
	border: none;
}

#menu a:hover, #menu .vibor a {
	color: rgba(255,255,255,0.8);
}



#page {
	overflow: hidden;
	padding: 5em 0em;
}

#page img
	{
		margin-bottom: 1em;
	}

#content {
	float: left;
	width: 31.3%;
	padding-right: 50px;
	border-right: 1px solid #E6E7DC;
	margin: 0;
	padding: 0;
	margin-bottom: 2em;
	margin-bottom: 4em;
	padding-bottom: 4em;
	border-bottom: 1px solid #E6E7DC;
}

#down {
	overflow: hidden;
	padding: 50px 0px 30px 0px;
}

#down p {
	text-align: center;
		color: rgba(0,0,0,0.7);
}

a {
		color: rgba(0,0,0,0.7);
}

#v {
	float: right;
	height: 20px;
}

#v1 {
	float: right;
	height: 25px;
}

.block1, .block2, .block3
	{
		float: left;
		margin-right: 80px;
		width: 24%;
	}
	
.me {
		float: left;
		margin-right: 110px;
	}
	
.me2 {
		float: left;
	}
	
html {
	cursor: url(kurs1.png), auto;
}

html:active {
	cursor: url(kurs3.png), auto;
}

.cent {
	text-align: center;
}
#v:hover, #v1:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

a:hover, img:hover, label:hover, input:hover {
	cursor: url(kurs2.png), auto;
}

a:active, img:active, label:active, input:active {
	cursor: url(kurs3.png), auto;
}

label {
	left: 40%;
	position: absolute;
}

.label_2 {
	left: 20%;
	position: absolute;
}

.reg {
	left: 44%;
	position: absolute;
}

input {
    width:  200px;
    height: 55px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
}	

.inp {
	left: 45%;
	position: absolute;
}

.inp_2 {
	left: 37%;
	position: absolute;
}

.not {
	position: absolute;
	left: 40%;
}

.block_1 {
	width: 200px;
	height: 320px;
	float: left;
	margin-left: 25px;
	margin-top: 25px;
	padding: 10px;
	border: 2px solid;
	border-radius: 10px;
	overflow: hidden;
}

.comm {
	width: 50%;
	left: 25%;
	margin-top: 25px;
	background: rgba(255,255,255);
	position: relative;
}

.commain {
	border: 2px solid;
	border-radius: 10px;
	width: 70%;
	margin-top: 25px;
}

.pan {
	position: absolute;
	left:30%;
}
.pagin {
	position: relative;
	left:40%;
}